PORT=8080
CLIENT_ORIGIN=http://localhost:5173

GOOGLE_CLIENT_ID=your_google_client_id.apps.googleusercontent.com
# Optional when using Secret Manager file mount in Cloud Run:
# GOOGLE_OAUTH_JSON_PATH=/secrets/google/oauth.json

GMAIL_USER=yourgmail@gmail.com
GMAIL_APP_PASSWORD=your_gmail_app_password
OTP_FROM_EMAIL=yourgmail@gmail.com
OTP_TTL_MINUTES=10
REQUEST_BODY_LIMIT=10mb
FIRESTORE_USERS_COLLECTION=users
FIRESTORE_OTP_COLLECTION=auth_otps
FIRESTORE_APP_DATA_COLLECTION=app_data
FIRESTORE_APP_DATA_CHUNK_COLLECTION=chunks
FIRESTORE_APP_DATA_CHUNK_SIZE=300000
FIRESTORE_PROJECT_INVITES_COLLECTION=project_invites
FIRESTORE_PROJECT_INVITES_DOC_ID=global
